.grid {
    width: 200px;
    height: 400px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    s height: 20px;
    width: 20px;
    background-color: red;
}

.shape {
    background-color: blue;
}